<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Marketplace Project</title>
<link rel="stylesheet" href="css/styles.css" />
</head>

<body>

<h1>Marketplace Project</h1>

<h2>Please Select a Person (For example: Mark, Jonathan or Gorden):</h2>
<div class="header">
	<input type="text" id="searchKey"/>
	<button id="btnSearch">Search</button>
	<!-- button id="btnAdd">New Person</button -->
</div>

<h2>Project List:</h2>
<div class="leftArea">
<table style="width:100%" id="projectList">
</table>
</div>

<form id="projectForm">

<h2>Bid List:</h2>
<div class="leftArea">
<table style="width:100%" id="bidList">
</table>
</div>
	
</form>

<form id="bidForm">
	
</form>

<h2>Please Click a Operation:</h2>
<div class="header">
	<button id="btnAssign">Assign</button>
	<button id="btnInitial">Initial</button>
</div>



<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

</body>
</html>